.list-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: 80%;
}

h2 {
  color: violet;
}

.Identifer-button {
  background-color: #15171c;
  color: #ee82ee;
  border-radius: 8px;
  border-color: violet;
  padding: 2%;
  margin: 2%;
}

.Information-button {
  background-color: #15171c;
  color: violet;
  border-radius: 8px;
  border-color: violet;
  padding: 2%;
  margin: 2%;
}

.info-Title {
  color: violet;
  background: none;
  border: none;
  padding: 1%;
  margin-top: 1%;
  width: 15%;
  font-size: 160%;
}

.info-Title:hover {
  background-color: violet;
  color: black;
  border-radius: 12px;
}

.Delete {
  background: none;
  color: red;
  border-color: violet;
  border-radius: 12px;
  margin-top: 1%;
  padding: 1%;
  width: 15%;
  font-size: 160%;
}

.Delete:hover {
  background-color: red;
  color: white;
}

.Edit {
  background: none;
  color: blue;
  border-color: violet;
  border-radius: 12px;
  margin-top: 1%;
  padding: 1%;
  width: 15%;
  font-size: 160%;
}

.Edit:hover {
  background-color: blue;
  color: black;
}