@keyframes swing {
    0%,
    30%,
    50%,
    70%,
    100% {
      transform: rotate(0deg); }
    10% {
      transform: rotate(10deg); }
    40% {
      transform: rotate(-10deg); }
    60% {
      transform: rotate(5deg); }
    80% {
      transform: rotate(-5deg); } }
  
  .pro-sidebar {
    color: #adadad; /* All text colour */
    height: 100vh;
    width: 200px;
    min-width: 200px;
    text-align: left;
    transition: width, left, right, 0.3s;
    position: relative;
    z-index: 1009; }
    
    .pro-sidebar > .pro-sidebar-inner {
      background-color: #4c006a;
      background-color: #000000;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%234c006a' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");      height: 100%;
      position: relative;
      z-index: 101; }
      .pro-sidebar > .pro-sidebar-inner > img.sidebar-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        opacity: 0.3;
        left: 0;
        top: 0;
        z-index: 100; }
      .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 101; }
        .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
          border-bottom: 1px solid rgba(173, 173, 173, 0.2); }
        .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-content {
          flex-grow: 1; }
        .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
          border-top: 1px solid rgba(173, 173, 173, 0.2); }
        .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout ul {
          list-style-type: none;
          padding: 0;
          margin: 0; }
    .pro-sidebar .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 100;
      display: none; }
    .pro-sidebar.collapsed {
      width: 80px;
      min-width: 80px; }
    .pro-sidebar.rtl {
      text-align: right;
      direction: rtl; }
    @media (max-width: 480px) {
      .pro-sidebar.xs {
        position: fixed;
        left: -270px; }
        .pro-sidebar.xs.collapsed {
          left: -80px; }
        .pro-sidebar.xs.toggled {
          left: 0; }
          .pro-sidebar.xs.toggled .overlay {
            display: block; }
        .pro-sidebar.xs.rtl {
          left: auto;
          right: -270px; }
          .pro-sidebar.xs.rtl.collapsed {
            left: auto;
            right: -80px; }
          .pro-sidebar.xs.rtl.toggled {
            left: auto;
            right: 0; } }
    @media (max-width: 576px) {
      .pro-sidebar.sm {
        position: fixed;
        left: -270px; }
        .pro-sidebar.sm.collapsed {
          left: -80px; }
        .pro-sidebar.sm.toggled {
          left: 0; }
          .pro-sidebar.sm.toggled .overlay {
            display: block; }
        .pro-sidebar.sm.rtl {
          left: auto;
          right: -270px; }
          .pro-sidebar.sm.rtl.collapsed {
            left: auto;
            right: -80px; }
          .pro-sidebar.sm.rtl.toggled {
            left: auto;
            right: 0; } }
    @media (max-width: 768px) {
      .pro-sidebar.md {
        position: fixed;
        left: -270px; }
        .pro-sidebar.md.collapsed {
          left: -80px; }
        .pro-sidebar.md.toggled {
          left: 0; }
          .pro-sidebar.md.toggled .overlay {
            display: block; }
        .pro-sidebar.md.rtl {
          left: auto;
          right: -270px; }
          .pro-sidebar.md.rtl.collapsed {
            left: auto;
            right: -80px; }
          .pro-sidebar.md.rtl.toggled {
            left: auto;
            right: 0; } }
    @media (max-width: 992px) {
      .pro-sidebar.lg {
        position: fixed;
        left: -270px; }
        .pro-sidebar.lg.collapsed {
          left: -80px; }
        .pro-sidebar.lg.toggled {
          left: 0; }
          .pro-sidebar.lg.toggled .overlay {
            display: block; }
        .pro-sidebar.lg.rtl {
          left: auto;
          right: -270px; }
          .pro-sidebar.lg.rtl.collapsed {
            left: auto;
            right: -80px; }
          .pro-sidebar.lg.rtl.toggled {
            left: auto;
            right: 0; } }
    @media (max-width: 1200px) {
      .pro-sidebar.xl {
        position: fixed;
        left: -270px; }
        .pro-sidebar.xl.collapsed {
          left: -80px; }
        .pro-sidebar.xl.toggled {
          left: 0; }
          .pro-sidebar.xl.toggled .overlay {
            display: block; }
        .pro-sidebar.xl.rtl {
          left: auto;
          right: -270px; }
          .pro-sidebar.xl.rtl.collapsed {
            left: auto;
            right: -80px; }
          .pro-sidebar.xl.rtl.toggled {
            left: auto;
            right: 0; } }
  
  .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
    content: '';
    display: inline-block;
    width: 4px;
    min-width: 4px;
    height: 4px;
    border: 1px solid #2b2b2b;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    box-shadow: 1px 0px 0px #adadad, 0px -1px 0px #adadad, 0px 1px 0px #adadad, -1px 0px 0px #adadad; }
  
  .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  
  .pro-sidebar .pro-menu {
    padding-top: 10px;
    padding-bottom: 10px; }
    .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
      position: relative;
      background-color: #080808;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23410157' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
        padding-top: 15px;
        padding-bottom: 15px; }
    .pro-sidebar .pro-menu a {
      text-decoration: none;
      color: #adadad; }
      .pro-sidebar .pro-menu a:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent; }
      .pro-sidebar .pro-menu a:hover {
        color: #d8d8d8; }
    .pro-sidebar .pro-menu .pro-menu-item {
      font-size: 15px; }
      .pro-sidebar .pro-menu .pro-menu-item.active {
        color: #d8d8d8; }
      .pro-sidebar .pro-menu .pro-menu-item .suffix-wrapper {
        opacity: 1;
        transition: opacity 0.2s; }
      .pro-sidebar .pro-menu .pro-menu-item .prefix-wrapper {
        display: flex;
        margin-right: 5px;
        opacity: 1;
        transition: opacity 0.2s; }
      .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 35px 8px 20px;
        cursor: pointer; }
        .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
          outline: none;
          color: #d8d8d8; }
        .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
          margin-right: 10px;
          font-size: 14px;
          width: 35px;
          min-width: 35px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          display: inline-block; }
          .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper .pro-icon {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center; }
        .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
          flex-grow: 1;
          flex-shrink: 1; }
        .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
          color: #d8d8d8; }
          .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover .pro-icon-wrapper .pro-icon {
            animation: swing ease-in-out 0.5s 1 alternate; }
      .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item:before {
        background: #adadad; }
      .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%); }
        .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
          display: inline-block;
          border-style: solid;
          border-color: #adadad;
          border-width: 0 2px 2px 0;
          padding: 2.5px;
          vertical-align: middle;
          transition: transform 0.3s;
          transform: rotate(-45deg); }
      .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu.open > .pro-inner-item:before {
        background: transparent !important; }
      .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu.open > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
        transform: rotate(45deg); }
      .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
        padding-left: 20px; }
        .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
          padding: 8px 30px 8px 15px; }
          .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item > .pro-icon-wrapper {
            display: none; }
          .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item .pro-arrow-wrapper {
            display: none; }
    .pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
      background-color: #2b2b2b; }
    .pro-sidebar .pro-menu.square .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
      border-radius: 0; }
    .pro-sidebar .pro-menu.round .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
      border-radius: 4px; }
    .pro-sidebar .pro-menu.circle .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
      border-radius: 50%; }
  
  .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item {
    position: relative; }
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item > .pro-inner-item > .suffix-wrapper,
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item > .pro-inner-item > .prefix-wrapper {
      opacity: 0; }
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item > .pro-inner-list-item {
      background-color: #2b2b2b;
      z-index: 111; }
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer; }
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu {
      position: relative; }
      .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-item {
        pointer-events: none; }
        .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper {
          display: none; }
      .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item {
        height: auto !important;
        position: fixed;
        visibility: hidden;
        min-width: 220px;
        max-width: 270px;
        background-color: transparent;
        max-height: 100%;
        padding-left: 3px; }
        .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item.has-arrow {
          padding-left: 10px; }
        .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
          max-height: 100vh;
          overflow-y: auto;
          background-color: #2b2b2b;
          padding-left: 20px;
          border-radius: 4px; }
      .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu:hover > .pro-inner-list-item {
        transition: visibility, transform 0.3s;
        visibility: visible; }
      .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu:hover .pro-icon-wrapper .pro-icon {
        animation: swing ease-in-out 0.5s 1 alternate; }
      .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-sub-menu-item,
      .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
        padding: 8px 30px 8px 5px; }
  
  .pro-sidebar.rtl .pro-menu .pro-menu-item .prefix-wrapper {
    margin-right: 0;
    margin-left: 5px; }
  
  .pro-sidebar.rtl .pro-menu .pro-menu-item > .pro-inner-item {
    padding: 8px 20px 8px 35px; }
    .pro-sidebar.rtl .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
      margin-right: 0;
      margin-left: 10px; }
  
  .pro-sidebar.rtl .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper {
    right: auto;
    left: 20px; }
    .pro-sidebar.rtl .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
      transform: rotate(135deg); }
  
  .pro-sidebar.rtl .pro-menu .pro-menu-item.pro-sub-menu.open > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
    transform: rotate(45deg); }
  
  .pro-sidebar.rtl .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
    padding-left: 0;
    padding-right: 20px; }
    .pro-sidebar.rtl .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
      padding: 8px 15px 8px 30px; }
      .pro-sidebar.rtl .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
        margin-right: 0;
        margin-left: 15px; }
  
  .pro-sidebar.rtl.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item {
    padding-left: 0;
    padding-right: 3px; }
    .pro-sidebar.rtl.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item.has-arrow {
      padding-right: 10px; }
    .pro-sidebar.rtl.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
      padding-left: 0;
      padding-right: 20px; }
  
  .pro-sidebar.rtl.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-sub-menu-item,
  .pro-sidebar.rtl.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
    padding: 8px 5px 8px 30px; }
  
  .popper-arrow {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; }
  
  .popper-element[data-popper-placement^='left'] > .popper-arrow {
    right: 0;
    border-right: 7px solid #2b2b2b; }
  
  .popper-element[data-popper-placement^='right'] > .popper-arrow {
    left: 0;
    border-left: 7px solid #2b2b2b; }
  
  .react-slidedown {
    height: 0;
    transition-property: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out; }
  
  .react-slidedown.transitioning {
    overflow-y: hidden; }
  
  .react-slidedown.closed {
    display: none; }
  