.sidebar-toggle {
 margin-left: 2rem;
 font-size: 2rem;
 height: 80px;
 display: flex;
 justify-content: flex-start;
 color: violet;
 align-items: center;
 background-color: #15171c;
 border-color: #15171c;
}

.sidebar-Nav {
    background: #15171c;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: scroll;
}

.sidebar-wrap {
    width: 100%;
}

.nav-icon-area {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navSidebar-Link {
  display: flex;
  color: violet;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #15171c;
  border: none;
  padding: 5%;
  height: 60px;
  font-size: 150%;
  text-decoration: none;
}

.navSidebar-Link:hover {
  background-color: #252831;
  border-left: 4px solid violet;
  cursor: pointer;
  color: violet;
}

.navSidebar-Link:link {
  text-decoration: none;
}

.sidebar-Link {
    display: flex;
    color: violet;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #15171c;
    border: none;
    padding: 7%;
    height: 60px;
    font-size: 150%;
    text-decoration: none;

    
}

.sidebar-item {
  display: flex;
  color: violet;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #15171c;
  padding: 7%;
  height: 60px;
  font-size: 160%;
  font-style: italic;
  
}

.sidebar-Link:hover {
    background-color: #252831;
    border-left: 4px solid violet;
    cursor: pointer;
    color: violet;
}

.sidebar-Link:link {
    text-decoration: none;
}

.delete:hover {
  background-color: red;
  color: white;
}

.view:hover {
  background-color: blue;
  color: white;
}