.side-bar {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.693);
    background-color: rgb(79, 0, 106);
    transition: 0.8s ease;
}

.toggle-menu {
    height: 50px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 9rem;
    width: 10px;
    position: absolute;
    outline: none;
    z-index: 1;
    background-color: rgba(79, 0, 106, 1);
    border-color: rgb(0, 0, 0);
    border-left: 0;
}

.content {
    color: black;
}